body{
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: static;

    background-size: 100vw 100vh;
}

.image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-image: url("../images/theater.png");
    background-repeat: no-repeat;
    background-position: left top;

    background-size: 100vw 100vh;
}